*{
    padding: 0%;
    margin: 0%;
}
.navbar{
    /* display: flex; */
    /* position: absolute; */
    background-color: #222f;
    height: 8vh;
    position: sticky;
            overflow: hidden;
}
.navbar ul{
    display: flex;
    margin: -10px;
    position: sticky;
    overflow: hidden;

}
.navbar ul li{
    list-style: none;
    padding: 3px 15px;
    color: antiquewhite;
    font-size: 16px;
    /* text-decoration: none; */
}

.nav-link{
    color: azure;
    padding-top: 16px;
}